* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */

.nav-item a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 15px;
    transition: all 0.4s;
    font-family: 'Montserrat', sans-serif;
}

.nav-item a:hover {
    color: rgb(20, 219, 20);
}

.navbar-brand img {
    height: 50px;
    width: 100px;
}

.search {
    height: 45px;
    outline: none;
    border: 2px solid rgb(20, 219, 20);
    background-color: transparent;
    border-radius: 20px 0px 0px 20px;
    border-right: none;
    border-right: none;
}

.search:focus {
    outline: none;
    box-sizing: none;
    border: rgb(20, 219, 20);
}

.btn1 {
    height: 45px;
    outline: none;
    border: none;
    background-color: rgb(20, 219, 20);
    color: white;
    border-radius: 0px 20px 20px 0px;
    transition: all 0.4s;
}

.btn1:hover {
    background-color: rgb(13, 172, 13);
}

.svg-1 {
    width: 30px;
    fill: black;
    cursor: pointer;
    padding-top: 5px;
    transition: all 0.4s;
}

.svg-1:hover {
    fill: rgb(20, 219, 20);
}

/* main */

.main {
    background: url(../image/bg-3.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.main h1 {
    font-size: 5rem;
    color: white;
    font-family: 'Righteous', cursive;
}

.main p:nth-child(1) {
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.main p {
    font-size: 18px;
    color: white;
}

.mbtn1 {
    height: 50px;
    width: 25%;
    outline: none;
    border: none;
    color: white;
    background: rgb(20, 219, 20);
    border-radius: 50px;
    transition: all 0.4s;
}

.mbtn1:hover {
    background-color: transparent;
    color: rgb(20, 219, 20);
    border: 1px solid rgb(20, 219, 20);
}

.mbtn2 {
    height: 50px;
    width: 25%;
    outline: none;
    border: 1px solid rgb(20, 219, 20);
    color: rgb(20, 219, 20);
    background: transparent;
    border-radius: 50px;
    transition: all 0.4s;
}

.mbtn2:hover {
    background-color: rgb(20, 219, 20);
    border: none;
    color: white;
}

.line {
    height: 6px;
    width: 30%;
    background: rgb(20, 219, 20);
    display: inline-block;
}

/* about */

.about {
    background: url(../image/bg-6.jpg) no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
}

.about h1 {
    font-size: 3rem;
    font-weight: bold;
}

.about p:nth-child(1) {
    font-size: 18px;
    font-weight: 500;
}

.about p:nth-child(2) {
    font-size: 18px;
    color: grey;
}

/* welcome */

.welcome {
    background: rgb(20, 219, 20);
}

.line2 {
    height: 6px;
    width: 30%;
    background-color: white;
    display: inline-block;
}

.welcome h1 {
    font-size: 3rem;
    font-weight: bold;
}

.welcome .card {
    border: none;
    border-radius: 0;
    cursor: pointer;
}

.welcome svg {
    width: 50px;
    fill: rgb(20, 219, 20);
}

.welcome h2 {
    font-weight: lighter;
    padding: 10px 0px;
}

/* product */

.product h1 {
    font-size: 3rem;
    font-weight: bold;
}

.product p:nth-child(1) {
    font-size: 18px;
    font-weight: 500;
}

.product p:nth-child(2) {
    font-size: 18px;
    color: grey;
}

.star svg {
    float: right;
    fill: orange;
    width: 25px;
}

.product .card {
    border: none;
    border-radius: 0;
    cursor: pointer;
}

.product .card-body {
    border: 1px dashed rgb(175, 172, 172);
}

.head1 {
    font-weight: 400;
    margin: 0;
}

.per1 {
    color: grey;
}

.btnc {
    height: 50px;
    width: 50%;
    outline: none;
    border: none;
    color: white;
    background: rgb(20, 219, 20);
    border-radius: 50px;
    margin: 0 auto;
    display: block;
    transition: all 0.4s;
}

.btnc:hover {
    outline: none;
    border: 1px solid rgb(20, 219, 20);
    color: rgb(20, 219, 20);
    background: transparent;
    border-radius: 50px;
}

/* discount */

.discount {
    background: rgb(20, 219, 20);
    color: white;
    fill: white;
}

.discount svg {
    width: 80px;
}

.dbtn {
    height: 50px;
    width: 75%;
    outline: none;
    border: none;
    color: black;
    background-color: white;
    border-radius: 50px;
    margin: 0 auto;
    display: block;
    font-weight: lighter;
    transition: all 0.4s;
}

.dbtn:hover {
    background-color: rgb(228, 228, 228);
}

/* store */

.store h1 {
    font-size: 3rem;
    font-weight: bold;
}

.store p:nth-child(1) {
    font-size: 18px;
    font-weight: 500;
}

.store p:nth-child(2) {
    font-size: 18px;
    color: grey;
}

.store svg {
    width: 45px;
}

.store .card {
    border-radius: 0;
    border: none;
    transition: all 0.3s;
    cursor: pointer;
}

.store .card:hover {
    background-color: rgb(20, 219, 20);
    color: white;
    fill: white;
}

.store .card:hover .per1 {
    color: white;
}

/* seller */

.seller h1 {
    font-size: 3rem;
    font-weight: bold;
}

.seller svg {
    fill: orange;
    width: 15px;
}

.seller .card {
    border-radius: 0;
    border: none;
}

/* contact */

.contact {
    background: url(../image/bg-5.jpg);
    background-size: cover;
    width: 100%;
}

.contact h1 {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.contact h6{
    color: white;
}

.contact p {
    color: white;
}

.circle{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: white;
    color: black;
    text-align: center;
    padding-top: 15px;
    font-size: 18px;
}
.circle svg{
    width: 20px;
}

/* footer */

.footer{
    background: grey;
}

.svg{
    width: 50px;
    fill: white;
    padding-top: 9px;
    margin-left: 10px;
    transition: all 0.4s;
}

.svg:hover{
    fill: rgb(20, 219, 20);
}
.footer p{
    color: white;
}